.navbar{
    /* box-shadow: 1px,1px,2px,1px, rgba(0, 0, 0, 0.7) inset; */
    word-wrap: break-word;
}
body{
    background:white;
    color:black;
}

nav a.navbar-brand{
    color: black;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul.navbar-nav li a.nav-link,ul.navbar-nav li a.dropdown-item{
    color: black;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background: url('../images/image3.JPG');
    width: 100%;
   background-size: cover;
}
.header{

    padding-top: 7rem;
    padding-bottom: 7rem;
    z-index:-1;
    background:rgba(0, 0, 128, 0.778)

}
.card,.card-body{
    border-radius:none;
}
h1#front-text{
    font-size: 3.4rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: justify;

    /* text-shadow:-2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}
span.text{
    font-size: 3.9rem;
    color: rgb(207, 24, 24);
}
.button{
    padding: .7rem;
    font-size: 1.2rem;
    border-radius: none;
    border: none;
}
p.text{
    font-size: 1.2rem;
    text-align: justify;
}
p.about-text{
    text-align: justify;
    word-spacing: .4rem;
    font-size: 1.6rem;
}
@media screen and (max-width: 480px){
    h1#front-text{
        font-size: 2.4rem;
        
        text-align:left;
    }
    .header{
        padding:1rem;
        padding-bottom: 6rem;
        width: 100%;
        word-wrap: break-word;
    }
    span.text{
        font-size: 2.7rem;
        color: rgb(207, 24, 24);
    }
}

.heading{
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.icon{
    color: rgba(0, 0, 128, 0.678);
    font-size: 1.3rem;
    
}
p.card-text{
    font-family: cursive;
    font-size: 1.2rem;
}
h4.card-title{
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.feeds{
   background-color: rgba(240, 240, 242, 0.986);
   background-blend-mode: lighten;
}
main.footer{
    
        
    width: 100%;
    
}
.feed-box{
    background-color: white;
    color: rgb(207, 24, 24);
}
.feed-box2{
    background-color: white;
    
}
.text-red{
    color: rgb(207, 24, 24);
}
footer{
    background-color: rgb(207, 24, 24);
}